[package]
authors = [
  "Unleash developers <team@getunleash.io>",
  "Christopher Kolstad <chriswk@getunleash.io>",
  "Simon Hornby <simon@getunleash.io>",
  "Nuno Gois <nuno@getunleash.io>",
  "Gaston Fournier <gaston@getunleash.io>",
]
description = "Unleash edge is a proxy for Unleash. It can return both evaluated feature toggles as well as the raw data from Unleash's client API"
edition = "2021"
homepage = "https://github.com/Unleash/unleash-edge"
license = "MIT"
name = "unleash-edge"
repository = "https://github.com/Unleash/unleash-edge"
version = "16.0.4"

[dependencies]
actix-cors = "0.6.4"
actix-http = { version = "3.4.0", features = ["compress-zstd", "rustls-0_21"] }
actix-middleware-etag = "0.3.0"
actix-service = "2.0.2"
actix-web = { version = "4.4.0", features = ["rustls-0_21", "compress-zstd"] }
ahash = "0.8.6"

anyhow = "1.0.75"
async-trait = "0.1.74"
chrono = { version = "0.4.31", features = ["serde"] }
cidr = "0.2.2"
clap = { version = "4.4.8", features = ["derive", "env"] }
clap-markdown = "0.1.3"
dashmap = "5.5.3"
futures = "0.3.29"
futures-core = "0.3.29"
iter_tools = "0.4.0"
itertools = "0.12.0"
lazy_static = "1.4.0"
num_cpus = "1.16.0"
opentelemetry = { version = "0.21.0", features = [
  "trace",
  "metrics",
] }
opentelemetry-prometheus = "0.14.1"
opentelemetry-semantic-conventions = "0.13.0"
opentelemetry_sdk = { version = "0.21.1", features = [
  "metrics",
  "serde",
  "serde_json",
  "logs",
] }
prometheus = { version = "0.13.3", features = ["process"] }
prometheus-static-metric = "0.5.1"
rand = "0.8.5"
redis = { version = "0.23.3", features = ["tokio-comp", "tokio-rustls-comp"] }
reqwest = { version = "0.11.22", default-features = false, features = [
  "rustls",
  "json",
  "rustls-tls",
  "native-tls",
] }
rustls = "0.21.8"
rustls-pemfile = "1.0.4"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
serde_qs = { version = "0.12.0", features = ["actix4", "tracing"] }
shadow-rs = "0.24.1"
tokio = { version = "1.34.0", features = [
  "macros",
  "rt-multi-thread",
  "tracing",
  "fs",
] }
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = ["json", "env-filter"] }
ulid = "1.1.0"
unleash-types = { version = "0.10", features = ["openapi", "hashes"] }
unleash-yggdrasil = { version = "0.8.0" }
utoipa = { version = "4.1.0", features = ["actix_extras", "chrono"] }
utoipa-swagger-ui = { version = "4", features = ["actix-web"] }
[dev-dependencies]
actix-http = "3.4.0"
actix-http-test = "3.1.0"
actix-service = "2.0.2"
env_logger = "0.10.1"
maplit = "1.0.2"
rand = "0.8.5"
test-case = "3.2.1"
testcontainers = "0.15.0"
testcontainers-modules = { version = "0.1.3", features = ["redis"] }
tracing-test = "0.2.4"

[build-dependencies]
shadow-rs = "0.24.1"
