[package]
name = "unleash-edge"
version = "0.0.0"
edition = "2021"
authors = ["Christopher Kolstad <chriswk@getunleash.io>", "Simon Hornby <simon@getunleash.io>", "Nuno Gois <nuno@getunleash.io>", "Gaston Fournier <gaston@getunleash.io>"]
license = "MIT"
description = "Unleash edge is a proxy for Unleash. It can return both evaluated feature toggles as well as the raw data from Unleash's client API"
repository = "https://github.com/Unleash/unleash-edge"
homepage = "https://github.com/Unleash/unleash-edge"

[dependencies]
actix-cors = "0.6.4"
actix-middleware-etag = "0.1.1"
actix-web = { version = "4.3.0", features = ["rustls"] }
actix-web-opentelemetry = { version = "0.13.0", features = ["metrics", "metrics-prometheus"] }

anyhow = "1.0.68"
chrono = { version = "0.4.23", features = ["serde"] }
clap = { version = "4.1.4", features = ["derive", "env"] }
dashmap = "5.4.0"
dotenv = { version = "0.15.0", features = ["clap"] }
opentelemetry = { version = "0.18.0", features = ["trace", "rt-tokio", "metrics"] }
opentelemetry-prometheus = "0.11.0"
prometheus = { version = "0.13.3", features = ["process"] }
redis = "0.22.3"
rustls = "0.20.8"
rustls-pemfile = "1.0.2"
serde = { version = "1.0.152", features = ["derive"] }
serde_json = "1.0.91"
shadow-rs = "0.20.0"
tokio = { version = "1.25.0", features = ["macros", "rt-multi-thread", "tracing"] }
tracing = { version = "0.1.37", features = ["log"] }
tracing-subscriber = { version = "0.3.16", features = ["json", "env-filter"] }
unleash-types = { version = "0.7.0", features = ["openapi", "hashes"] }
unleash-yggdrasil = "0.4.2"

[dev-dependencies]
env_logger = "0.10.0"
test-case = "2.2.2"
testcontainers = "0.14.0"

[build-dependencies]
shadow-rs = "0.20.0"
