[package]
authors = [
    "Unleash developers <team@getunleash.io>",
    "Christopher Kolstad <chriswk@getunleash.io>",
    "Simon Hornby <simon@getunleash.io>",
    "Nuno Gois <nuno@getunleash.io>",
    "Gaston Fournier <gaston@getunleash.io>",
]
description = "Unleash edge is a proxy for Unleash. It can return both evaluated feature toggles as well as the raw data from Unleash's client API"
edition = "2021"
homepage = "https://github.com/Unleash/unleash-edge"
license = "MIT"
name = "unleash-edge"
repository = "https://github.com/Unleash/unleash-edge"
version = "19.2.1"

[package.metadata.wix]
upgrade-guid = "11E5D83A-3034-48BB-9A84-9F589EBD648C"
path-guid = "6F606A3B-C7E9-43EC-8B6E-91D7B74F80FC"
license = false
eula = false

[dependencies]
actix-cors = "0.7.0"
actix-http = "3.8.0"
actix-middleware-etag = "0.4.1"
actix-service = "2.0.2"
anyhow = "1.0.86"
async-trait = "0.1.81"
actix-web = { version = "4.8.0", features = ["rustls-0_23", "compress-zstd"] }
ahash = "0.8.11"
chrono = { version = "0.4.38", features = ["serde"] }
cidr = "0.2.3"
clap = { version = "4.5.9", features = ["derive", "env"] }
clap-markdown = "0.1.4"
dashmap = "6.0.1"
futures = "0.3.30"
futures-core = "0.3.30"
iter_tools = "0.19.0"
itertools = "0.13.0"
lazy_static = "1.4.0"
num_cpus = "1.16.0"
opentelemetry = { version = "0.23.0", features = ["trace", "metrics"] }
opentelemetry-prometheus = "0.16.0"
opentelemetry-semantic-conventions = "0.15.0"
opentelemetry_sdk = { version = "0.23.0", features = [
    "metrics",
    "serde",
    "serde_json",
    "logs",
] }
prometheus = { version = "0.13.4", features = ["process"] }
prometheus-static-metric = "0.5.1"
rand = "0.8.5"
redis = { version = "0.25.4", features = [
    "tokio-comp",
    "tokio-rustls-comp",
    "cluster",
] }
reqwest = { version = "0.12.5", default-features = false, features = [
    "json",
    "rustls-tls",
    "native-tls",
] }
rustls = { version = "0.23.11", default-features = false, features = [
    "logging",
    "ring",
    "std",
] }
rustls-pemfile = "2.1.2"
rustls-pki-types = "1.7.0"
semver = "1.0.23"
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.120"
serde_qs = { version = "0.13.0", features = ["actix4", "tracing"] }
shadow-rs = { version = "0.29.0" }
tokio = { version = "1.38.0", features = [
    "macros",
    "rt-multi-thread",
    "tracing",
    "fs",
] }
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = ["json", "env-filter"] }
ulid = "1.1.2"
unleash-types = { version = "0.13", features = ["openapi", "hashes"] }
unleash-yggdrasil = { version = "0.12.0" }
utoipa = { version = "4.2.3", features = ["actix_extras", "chrono"] }
utoipa-swagger-ui = { version = "7.1.0", features = ["actix-web"] }
[dev-dependencies]
actix-http = "3.8.0"
actix-http-test = "3.2.0"
actix-service = "2.0.2"
env_logger = "0.11.3"
maplit = "1.0.2"
rand = "0.8.5"
test-case = "3.3.1"
testcontainers = "0.20.0"
testcontainers-modules = { version = "0.8.0", features = ["redis"] }
tracing-test = "0.2.5"

[build-dependencies]
shadow-rs = "0.29.0"
