[package]
authors = [
  "Unleash developers <team@getunleash.io>",
  "Christopher Kolstad <chriswk@getunleash.io>",
  "Simon Hornby <simon@getunleash.io>",
  "Nuno Gois <nuno@getunleash.io>",
  "Gaston Fournier <gaston@getunleash.io>",
]
description = "Unleash edge is a proxy for Unleash. It can return both evaluated feature toggles as well as the raw data from Unleash's client API"
edition = "2021"
homepage = "https://github.com/Unleash/unleash-edge"
license = "MIT"
name = "unleash-edge"
repository = "https://github.com/Unleash/unleash-edge"
version = "10.0.0"

[dependencies]
actix-cors = "0.6.4"
actix-http = { version = "3.4.0", features = ["compress-zstd", "rustls-0_21"] }
actix-middleware-etag = "0.2.0"
actix-service = "2.0.2"
actix-web = {version = "4.4.0", features = ["rustls-0_21", "compress-zstd"]}

anyhow = "1.0.75"
async-trait = "0.1.73"
chrono = {version = "0.4.30", features = ["serde"]}
cidr = "0.2.2"
clap = {version = "4.4.2", features = ["derive", "env"]}
clap-markdown = "0.1.3"
dashmap = "5.5.0"
dotenv = {version = "0.15.0", features = ["clap"]}
futures = "0.3.28"
futures-core = "0.3.28"
iter_tools = "0.1.4"
itertools = "0.11.0"
lazy_static = "1.4.0"
num_cpus = "1.16.0"
opentelemetry = {version = "0.19.0", features = ["trace", "rt-tokio", "metrics"]}
opentelemetry-prometheus = "0.12.0"
opentelemetry-semantic-conventions = "0.11.0"
prometheus = {version = "0.13.3", features = ["process"]}
prometheus-static-metric = "0.5.1"
redis = {version = "0.23.0", features = ["tokio-comp", "tokio-rustls-comp"]}
reqwest = {version = "0.11.18", default-features = false, features = ["rustls", "json", "rustls-tls", "native-tls"]}
rustls = "0.21.6"
rustls-pemfile = "1.0.3"
serde = {version = "1.0.188", features = ["derive"]}
serde_json = "1.0.102"
serde_qs = { version = "0.12.0", features = ["actix4", "tracing"] }
shadow-rs = "0.23.0"
tokio = {version = "1.29.1", features = ["macros", "rt-multi-thread", "tracing", "fs"]}
tracing = {version = "0.1.37", features = ["log"]}
tracing-subscriber = {version = "0.3.17", features = ["json", "env-filter"]}
ulid = "1.0.0"
unleash-types = { version = "0.10", features = ["openapi", "hashes"]}
unleash-yggdrasil = { version = "0.5.9" }
utoipa = {version = "3", features = ["actix_extras", "chrono"]}
utoipa-swagger-ui = {version = "3", features = ["actix-web"]}
[dev-dependencies]
actix-http = "3.3.1"
actix-http-test = "3.1.0"
actix-service = "2.0.2"
env_logger = "0.10.0"
maplit = "1.0.2"
rand = "0.8.5"
test-case = "3.1.0"
testcontainers = "0.14.0"
tracing-test = "0.2.4"

[build-dependencies]
shadow-rs = "0.23.0"
