---
name: Clippy

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - "**.toml"
  pull_request:
    branches:
      - main
    paths:
      - "**.rs"
      - "**.toml"

jobs:
  clippy:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install rust
        run: |
          rustup set auto-self-update disable
          rustup show

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Run clippy
        run: cargo clippy --workspace --all-features --all-targets -- -D warnings
