name: Generate sbom
permissions:
  contents: "write"

on:
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      tag:
        description: "Which tag to generate the sbom for?"
        type: "string"
        required: true
  workflow_call:
    inputs:
      tag:
        description: "Which tag to generate the sbom for?"
        type: "string"
        required: true

jobs:
  sbom:
    runs-on: "ubuntu-24.04"
    steps:
      - uses: actions/checkout@v5
        name: Checkout code
      - name: Install cargo-sbom
        run:
          cargo install cargo-sbom
      - name: Run sbom
        shell: bash
        run: |
          set -euo pipefail
          cargo sbom --output-format=cyclone_dx_json_1_6 \
                     --cargo-package unleash-edge > unleash-edge-cyclone-dx.sbom.json
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: sbom-artifact
          path: unleash-edge-cyclone-dx.sbom.json
          if-no-files-found: error
          retention-days: 3
  attach-to-release:
    runs-on: ubuntu-latest
    needs: sbom
    steps:
      - uses: actions/checkout@v5
        name: Checkout code
      - name: Download sbom artifact
        uses: actions/download-artifact@v6
        with:
          name: sbom-artifact
          path: ./downloaded
      - name: Upload file to existing release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG="${{ github.event.inputs.tag }}"
          FILE=downloaded/unleash-edge-cyclone-dx.sbom.json
          gh release upload "$TAG" "$FILE" --clobber