name: Load testing

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
jobs:
  benchmark:
    runs-on: ubuntu-latest
    timeout-minutes: 4
    services:
      edge:
        image: unleashorg/unleash-edge:edge
        env:
          UPSTREAM_URL: https://sandbox.getunleash.io/eg
          TOKENS: ${{ secrets.UNLEASH_CLIENT_SECRET }}
        ports:
          - 3063
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Run K6 client/features benchmark
        uses: grafana/k6-action@v0.3.1
        with:
          filename: benchmarks/clientfeaturesendpoint.js
        env:
          TOKEN: ${{ secrets.UNLEASH_CLIENT_SECRET }}
      - name: Run K6 proxy benchmark
        uses: grafana/k6-action@v0.3.1
        with:
          filename: benchmarks/proxyendpoint.js
        env:
          TOKEN: ${{ secrets.UNLEASH_FRONTEND_SECRET }}
