---
name: Run tests with coverage on code

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - "**.rs"
      - "**.toml"
  pull_request:
    branches:
      - main
env:
  RUST_VERSION: 1.91.1
jobs:
  tarpaulin:
    runs-on: ubuntu-latest
    name: Run test coverage using llvm-cov
    env:
      CARGO_TERM_COLOR: always
      CARGO_INCREMENTAL: 0
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Free Disk Space
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
      - name: Install rust
        run: |
          rustup set auto-self-update disable
          rustup toolchain install $RUST_VERSION --profile minimal
          rustup component add rustfmt --toolchain $RUST_VERSION
          rustup show
      - uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Set up fmt and clippy
        run: rustup component add rustfmt clippy
      - name: Check formatting with cargo fmt
        run: cargo fmt --all -- --check
      - name: Install required cargo packages for reporting test coverage
        run: cargo install cargo-llvm-cov
      - name: Run cargo-llvm-cov
        run: |
          cargo llvm-cov --all-features --lcov --output-path ./test-results.lcov
      - name: Upload to coveralls
        uses: coverallsapp/github-action@v2
        with:
          file: ./test-results.lcov
          github-token: ${{ secrets.GITHUB_TOKEN }}
